{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
<section class="page_404">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>
          <div class="contant_box_404">
            <h3 class="h2">
              Look like you're lost
            </h3>
            <p>the page you are looking for not avaible!</p>
            <a href="/" class="btn btn-outline-danger">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
    <a
      class="credit-info float-right"
      target="_blank"
      rel="noopener noreferrer"
      href="https://codepen.io/Navedkhan012/pen/vrWQMY"
    ><i class="fa fa-info-circle mx-3" aria-hidden="true"></i>Design Credit</a>

  </div>
</section>