<section class="sec-2">
  <h4 class="heading">Change the password</h4>
  <div class="way-1">
    <form action="" method="post">
      <div class="input-group">
        <input
          name="pass"
          type="password"
          placeholder="Enter current Password"
        />
      <div class="input-group">
        <input
          name="pass"
          type="password"
          placeholder="Enter New Password"
        />
      <div class="input-group">
        <input
          name="re-pass"
          type="password"
          placeholder="Re-enter New Password"
        />
      </div>
      <button type="submit" class="btn btn-info">
        Change Password</button>
    </form>
  </div>

</section>