<section class="sec-2">
  <h2 class="heading">Feel free to contact us</h2>
  <div class="row">

    <div class="col-2 col-a">
      <div class="info">
        <div class="card-info">
          <div>
            <i class="far fa-address-card"></i>
            <p class="subpara">Edathazhe house odamthode po manathana 670674</p>
          </div>
          <div class="hr-1"></div>
          <div>
            <i class="far fa-envelope"></i>
            <p class="subpara">mycompany@org</p>
          </div>
          <div class="hr-1"></div>
          <div>
            <i class="fas fa-phone"></i>
            <p class="subpara">+91 94 6707 0674</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-b">
      <div class="contact-mail">
        <form class="contact-form" enctype="text/plain">
          <input type="text" id="cf-name" name="name" placeholder="Name" /><br
          />
          <input
            type="email"
            id="cf-email"
            name="email"
            placeholder="Email"
          /><br />
          <input
            type="text"
            id="cf-mobile"
            name="mob"
            placeholder="Mobile"
          /><br />
          <input
            type="text"
            id="cf-subject"
            name="sub"
            placeholder="Subject"
          /><br />

          <textarea
            name="message"
            id="cf-message"
            rows="5"
            placeholder="Message.."
          ></textarea><br /><br />
          {{! <button
            class="btn btn-success btn-success-costom"
            type="submit"
            value="Send"
          >Send</button> }}
          <button
            type="submit"
            class="btn btn-success btn-success-costom primary mail-btn"
          >
            <span class="btn-text">Send</span></button>
        </form>
      </div>
    </div>

  </div>
</section>