<section class="sec-2">
  <h2 class="heading">Feel free to contact us</h2>
  <div class="row">

    <div class="col-2 col-a">
      <div class="info">
        <div class="card-info">
          <div>
            <i class="far fa-address-card"></i>
            <p class="subpara">Edathazhe house odamthode po manathana 670674</p>
          </div>
          <div class="hr-1"></div>
          <div>
            <i class="far fa-envelope"></i>
            <p class="subpara">mycompany@org</p>
          </div>
          <div class="hr-1"></div>
          <div>
            <i class="fas fa-phone"></i>
            <p class="subpara">+91 94 6707 0674</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-b">
      <div class="contact-mail">
        <form
          action="mailto:someone@example.com"
          method="post"
          enctype="text/plain"
        >
          <input type="text" name="name" placeholder="Name" /><br />
          <input type="text" name="mail" placeholder="Mobile" /><br />
          <input type="text" name="sub" placeholder="Subject" /><br />

          <textarea
            name="message"
            rows="5"
            placeholder="Message.."
          ></textarea><br /><br />
          <button
            class="btn btn-success btn-success-costom"
            type="submit"
            value="Send"
          >Send</button>
        </form>
      </div>
    </div>

  </div>
</section>