<section class="sec-2">
  <h4 class="heading">Reset the password</h4>
  <div class="way-1">
    <form id="reset-password">
      <div class="input-group">
        <input
          autocomplete="off"
          name="mob"
          type="text"
          placeholder="Enter Your Mobile"
        />

      </div>
      <div class="input-group">
        <select name="ques">
          <option value="">Select a security Question</option>
          <option value="q1">Q1</option>
          <option value="q2">Q2</option>
          <option value="q3">Q3</option>
        </select>
      </div>
      <div class="input-group text-center">
        <input
          name="ans"
          autocomplete="off"
          type="text"
          placeholder="Answer for Security Question"
        />
      </div>
      <button type="submit" class="btn btn-info">
        Reset Password</button>
    </form>

    <div class="section">
      <div class="text-center subpara">
        <label hidden id="pass-label" class="my-1 mr-2" for="password">Temporary
          Password</label>
      </div>
      <div class="section">
        <div class="input-group">
          <input
            id="password"
            class="text-center"
            hidden
            style="width: 30%"
            ;
            type="text"
            readonly
            value=""
          />
        </div>
        <div class="text-center">
          <a
            id="login-btn"
            href="/login"
            {{! onclick="copyAndLogin()" }}
            hidden
            class="btn btn-outline-primary"
          >Copy and Go to Login</a>
        </div>
      </div>

    </div>
    <div class="hr-1">
      <p class="downBtn">Additional way to reset password
        <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="way-2">
      <form class="reset-password-form" action="" method="post">
        <div class="input-group">
          <input
            id="rp-email"
            name="mail"
            type="email"
            placeholder="Enter Your Email"
          />
        </div>
        <p class="subpara">we will sent a temperary password to your mail.</p>
        <button
          type="submit"
          id="resetPassword-btn"
          class="btn btn-info primary mail-btn"
        >
          <span class="btn-text">Reset Password</span></button>
      </form>
    </div>
  </div>

</section>