<nav
  class="navbar navbar-expand-lg navbar-light bg-light m-3 px-4 fixed-top"
><div class="container-fluid">

    <a class="navbar-brand" href="#">Title</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto pr-5 mr-5">
        <li class="nav-item mr-3">
          <a class="nav-link" href="login">Login
          </a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="sec-1">
  <h2 class="heading blob">You are at the correct place</h2>
  <div class="row">
    <div class="col-2">
      <div class="">
        <h3 class="subhead">Here for Finding a Job</h3>
        <p class="subpara">Register Now,<br /> employeers will call You</p>
        <a href="login" class="btn-1">Be a Member Now</a>
      </div>
    </div>
    <div class="hr"></div>
    <div class="col-2">
      <div class="">
        <h3 class="subhead">Here for Finding a Employee</h3>
        <p class="subpara">Search Now,<br /> employee are here</p>
        <form action="" method="post">
          <input class="input-s" type="text" placeholder="Job" />
          <input class="input-s" type="text" placeholder="Location" />
          <div class="btn-grp">
            <button class="btn-1 input-s" type="submit">
              <i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>