<section class="sec-2">
  <div class="row">
    <div class="col-2">
      <div class="group">
        <div class="box">
          <div class="container">
            <h3 class="subhead">Happy To meet You again</h3>
            <p class="subpara">we are very happy to see that you are always with
              us.</p>
          </div>
        </div></div>
    </div>
    <div class="col-2">
      <div class="group">
        <div class="box">
          <div class="card">
            <form action="" method="post">
              <input
                name="mob"
                type="text"
                placeholder="Enter Your Mobile"
                autocomplete="off"
              />
              <input
                type="password"
                name="pass"
                id=""
                placeholder="Enter Your Password"
              />
              <button
                class="btn btn-primary btn-primary-costom"
                type="submit"
              >Log In</button>
            </form>
            <a class="forget" href="forget-password">Forget Password</a>
            <div class="hr-1"></div>
            <button id="signup" class="btn btn-success text-white">Create New
              Acoount</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec-3">
  <div class="card-signup">
    <h3 class="subhead">Sign Up</h3>
    <div class="exit-symbol">
      <i class="fas fa-times"></i></div>
    <form action="" method="post">
      <div class="input-group">
        <input name="name" type="text" placeholder="Enter Your Name" />
      </div>
      <div class="input-group">
        <input name="mob" type="tel" placeholder="Enter Your Mobile" />

      </div>
      <div class="input-group">
        <input name="email" type="email" placeholder="Enter Your Email" />

      </div>
      <div class="input-group">
        <input name="pass" type="password" placeholder="Enter Your Password" />
      </div>
      <div class="input-group">
        <select name="job">
          <option value="">Select One Job</option>
          <option value="electrician">Electrician</option>
          <option value="plumber">Plubmber</option>
          <option value="driver">Driver</option>
        </select>
      </div>
      <div class="input-group">
        <input name="location" type="text" placeholder="Enter Your Location" />

      </div>
      <div class="input-group">
        <select name="ques">
          <option value="">Select a security Question</option>
          <option value="q1">Q1</option>
          <option value="q2">Q2</option>
          <option value="q3">Q3</option>
        </select>
      </div>
      <div class="input-group">
        <input
          name="ans"
          type="text"
          placeholder="Answer for Security Question"
        />
      </div>
      <div class="term_condition">

        <p class="terms">By clicking Sign Up, you agree to our
          <a href="terms" class="terms-conditions">Terms</a>
          and Cookie Policy.
          <br />
        </p>
      </div>
      <button type="submit" class="btn btn-primary btn-primary-costom">
        Sign Up</button>
    </form>
  </div>
</section>